<h2 class="mb-3">Liste des livres ({{nbLivresTotal}})</h2>
<div class="container text-center mx-0 mb-4">
  <div class="row">

    <div class="col ml-0 mr-0">
      <div class="input-group">
        <input type="search" class="form-control" placeholder="Titre" aria-label="Search" aria-describedby="search-addon" [(ngModel)]="searchTitre"/>
      </div>
    </div>

    <div class="col ml-0 mr-0">
      <div class="input-group">
        <input type="search" class="form-control" placeholder="Nom Auteur" aria-label="Search" aria-describedby="search-addon" [(ngModel)]="searchAuteurNom"/>
      </div>
    </div>

    <div class="col ml-0 mr-0">
      <div class="input-group">
        <input type="search" class="form-control" placeholder="Prenom auteur" aria-label="Search" aria-describedby="search-addon" [(ngModel)]="searchAuteurPrenom"/>
      </div>
    </div>

    <div class="col ml-0 mr-0">
      <select class="form-select" [(ngModel)]="selectedCategory">
        <option value="" selected>Sélectionner une catégorie</option>
        <option value="{{categorie.id}}" *ngFor="let categorie of categories">
          {{ categorie.nom }}
        </option>
      </select>
    </div>

    <div class="col ps-0 pe-0">
      <button class="btn btn-primary" (click)="search()">Rechercher</button>
    </div>

  </div>
</div>

<!--
<div class="form-check mb-4 mr-0">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [(ngModel)]="isAvailable">
  <label class="form-check-label" for="flexCheckChecked">
    Est disponible
  </label>
</div>
-->

<div *ngIf="reservationSuccess" class="alert alert-success" role="alert">
    Livre réservé avec succès !
</div>

<div class="d-flex justify-content-evenly" *ngIf="!noResult">
  <nav aria-label="Pagination" class="mx-auto">
    <ul class="pagination">
      <li class="page-item" [ngClass]="{ 'disabled': currentPage === 0 }">
        <button class="page-link" [disabled]="currentPage === 0" (click)="swapToPage(currentPage-1)">Previous</button>
      </li>

      <li class="page-item" [ngClass]="{ 'active': page === currentPage }" *ngFor="let page of pages">
        <button class="page-link" (click)="swapToPage(page)">{{ page+1 }}</button>
      </li>

      <li class="page-item" [ngClass]="{ 'disabled': currentPage === nbPages-1 }">
        <button class="page-link" [disabled]="currentPage === nbPages-1" (click)="swapToPage(currentPage+1)">Next</button>
      </li>
    </ul>
  </nav>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3" *ngFor="let livre of livres">
      <div class="card m-3">
        <img [src]="livre.photoCouverture" class="card-img-top" alt="livre.titre" [routerLink]="['/livre', livre.id]" style="cursor: pointer;">
        <div class="card-body">
          <h5 class="card-title">{{livre.titre}}</h5>
          <button *ngIf="!user" [routerLink]="['/login']" class="btn btn-primary me-2">Réserver</button>
          <button *ngIf="user && livre.id" [disabled]="(user.reservations && user.reservations.length >= 3) || !canReserveBook(livre.id)" (click)="createReservation(livre.id)" class="btn btn-primary me-2">Réserver</button>
          <button type="submit" class="btn btn-outline-primary" (click)="bookDetails(livre.id)">Details</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-evenly" *ngIf="!noResult">
  <nav aria-label="Pagination" class="mx-auto">
    <ul class="pagination">
      <li class="page-item" [ngClass]="{ 'disabled': currentPage === 0 }">
        <button class="page-link" [disabled]="currentPage === 0" (click)="swapToPage(currentPage-1)">Previous</button>
      </li>

      <li class="page-item" [ngClass]="{ 'active': page === currentPage }" *ngFor="let page of pages">
        <button class="page-link" (click)="swapToPage(page)">{{ page+1 }}</button>
      </li>

      <li class="page-item" [ngClass]="{ 'disabled': currentPage === nbPages-1 }">
        <button class="page-link" [disabled]="currentPage === nbPages-1" (click)="swapToPage(currentPage+1)">Next</button>
      </li>
    </ul>
  </nav>
</div>

<h4 *ngIf="noResult">Aucun livre n'a été trouvé</h4>